@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
/* <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" /> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background:  #222;
  font-family: "Nunito";
  color: #f2f2f2;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 123;
  background-color: #222;
  
  display: flex;
  height: 70px;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  top: 0px;
}

.main-nav {
  list-style-type: none;
  display: none;
}
.nav-links{
  text-decoration: none;
  color: var(--WhiteColor);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
  padding: 1.3rem 0;
}
.sign-up,
.login {
  font-weight: 700;
}
.sign-up-link {
  background: var(--lightGreen);
  border: 1px solid var(--mainGrey);
  padding: 10px 15px;
}
.sign-up-link:hover {
  background: transparent;
  border: 1px solid var(--mainGrey);
}
.login-link {
  background: transparent;
  border: 1px solid var(--mainGrey);
  padding: 10px 15px;
}
.login-link:hover {
  background: var(--lightGreen);
  border: 1px solid var(--mainGrey);
}
.works {
  background: transparent;
  padding: 10px 15px;
}
.works:hover {
  background: var(--lightGreen);
  padding: 10px 15px;
  border: 1px solid var(--mainGrey);
}
.logo img {
  width: 2rem;
}
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 1.3rem 0;
  cursor: pointer;
  color: var(--WhiteColor);
  font-size: 24px;
}

.display-nav {
  display: block;
  background: red;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  /* .logo {
    margin-top: 0;
  } */

  .navbar-toggle {
    display: none;
  }
}

#story-list{
  margin-top: 70px;
  padding:  0;
}
li{
  list-style: none;
  padding: 12px;
  border-top: 1px solid rgb(54, 54, 54);
  border-bottom: 1px solid rgb(54, 54, 54);
}
.first-stage1-container{
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 1 1 0%;
}
.first-item{
  display: block;
  font-weight: 500;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  color: rgb(255, 255, 255);
}
.first-stage2-container{
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  line-height: 20px;
  max-width: 100%;
  padding-top: 4px;
  color: rgb(170, 170, 170);
  font-size: 15px;
  -webkit-box-align: center;
  align-items: center;
}
.one{
  white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 1;
    overflow: hidden;
}
.space{
  display: inline-block;
    margin: 0px 8px;
}
.two{
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 2; 
}
.btn1{
  font-size: 12px;
  margin-right: 16px;
  cursor: pointer;
  color: rgb(170, 170, 170);
  padding: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  background: none;
  transition: all 300ms ease 0s;
}
@media screen and (min-width: 768px) {
  li{
    list-style: none;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto 1fr auto;
    grid-column-gap: 1.5rem;
  }
}





