@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background:  #222;
  font-family: "Nunito";
  color: #f2f2f2;
}
a{
  text-decoration: none;
  color: inherit;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 123;
  background-color: #222;  
  display: flex;
  height: 70px;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  top: 0px;
}
.main-nav {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.logo img{
  width: 1.8rem;
  margin-left: 10px;
  cursor: pointer;
}
.main-nav li{
  margin-left: 1.3rem;
}
.brand{
  font-weight: bold;
  font-size: 1.3rem;
}
.menu{
  display: none;
}

@media screen and (max-width: 397px) {
  .menu{
    display: block;
    position: absolute;
    right: 30px;
  }
  .main-nav li{
    padding: 5px;
  }
  .main-nav li:hover{
    border-bottom: #f2f2f2 solid 1px;
  }
  
  .main-nav{
    visibility: hidden;
    position: absolute;
    top: 68px;
    right: 10px;
    z-index: 123;
    width: 100%;
    background-color: #222;
    border-bottom: solid #222 5px;
  }
  .display-nav{
    visibility: visible;
    
  }
}
#story-list{
  margin-top: 70px;
  padding:  0;
}
#list{
  list-style: none;
  padding: 12px;
  border-top: 1px solid rgb(54, 54, 54);
  border-bottom: 1px solid rgb(54, 54, 54);
}
.first-stage1-container{
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 1 1 0%;
}
.first-item{
  display: block;
  font-weight: 500;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  color: rgb(255, 255, 255);
}

.first-stage2-container{
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  line-height: 20px;
  max-width: 100%;
  padding-top: 4px;
  font-size: 15px;
  -webkit-box-align: center;
  align-items: center;
}
.time{
  color: rgb(170, 170, 170);
  font-size: 15px;
  margin-left: 1.2rem;
}
.one{
  white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 1;
    overflow: hidden;
}
.space{
  display: inline-block;
    margin: 0px 8px;
}
.two{
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 2; 
}
.btn1{
  font-size: 12px;
  margin-right: 16px;
  cursor: pointer;
  color: rgb(170, 170, 170);
  padding: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  background: none;
  transition: all 300ms ease 0s;
}
@media screen and (min-width: 768px) {
  #list{
    list-style: none;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto 1fr auto;
    grid-column-gap: 1.5rem;
  }
}





